#Write a program to print the triangle

In [37]:
n = 5
for i in range(0,n):
  for j in range(i,i+i,1):
    print(j,end=" ")
  print()

1
2 3
3 4 5
4 5 6 7

#star pattern program

In [15]:
def pyramid(n):
  num =0
  for i in range(0,n+1):
    for j in range(0,i):
      print("*",end=" ")
    print("\r")
n = int(input("Enter the number"))
pyramid(n)

Enter the number5

*
* *
* * *
* * * *
* * * * *

#number pattern

In [38]:
n = 5
for i in range(0,n):
  for j in range(n-i,n+1,1):
    print(j,end=" ")
  print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#Number pyramid

In [39]:
n = 5
for i in range(0,n+1):
  for j in range(n-i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#Number pyramid

In [41]:
n = 5
for i in range(1,n+1):
  for j in range(i,n+1,1):
    print(j,end=" ")
  print()
for i in range(1,n):
  for j in range(n-i,n+1,1):
    print(j,end=" ")
  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#Find the length of a string without using len functions

In [21]:
def length(s):
  c = 0
  for i in s:
    c=c+1
  return c
s =str(input("Enter the string : "))
print("The length of string is : ",length(s))

Enter the string : amruta
The length of string is :  6

#Find the no of words and characters in a string

In [25]:
def cou(s):
  c=0
  a = s.split()
  v = len(a)
  for i in a:
    c = c+len(i)
  print("word count : ",v)
  print("character count : ",c)
s = str(input("Enter the string : "))
cou(s)

Enter the string : amrutha is good
word count :  3
character count :  13

#Find the no of occurrences of a word in a string

In [31]:
def occur(s):
  c =0
  a = str(input("Enter the word : "))
  w = s.split()
  for i in range(0,len(w)):
    if(a == w[i]):
      c = c+1
  return c
s = str(input("Enter the string : "))
print("The number of occurances is : ",occur(s))

Enter the string : amrutha is is is is is is goof
Enter the word : is
The number of occurances is :  6